@model IEnumerable<VGR.Web.Models.CreateReviewViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Game Reviews</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        @*@foreach (var item in Model)
            {*@
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamePublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VideoReview)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
        @*}*@
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GamePublisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VideoReview)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <a class="btn  btn-success" asp-controller="Comments" asp-action="PrintPDF" asp-route-id="@item.Id">PDF</a> </td>
                   <td> <a class="btn  btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
